
/* Hero Image and Index page */
.hero-row{
    height: 80vh;
}

.hero-img{
    background-image: url("../assets/hero.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.sign-in-form-outer{
    display: inline-block;
    margin-top: 30vh;
    background-color:  white;
    max-width: 90%;
}

.sign-in-form-inner{
    background-color: inherit;
    padding: 0.5rem;
}

/* Login Home */

.home-box{
    width: 300px;
    height: 300px;
    border: 1px solid black;
    margin: auto;
}

.home-box-center{
    margin: auto;
    max-width: 50%;
}

/* Recipe form */

.recipe-form-add{
    display: inline;
    margin-left: 1rem;
}

/* Recipe view*/

#ingredient li{
    list-style-type: disc;
}

/* Recipe*/

.recipe{
    display: inline;
}

.recipe .card{
    height: 250px;
}

.card.horizontal .card-image{
    max-width: 25%;
    max-height: 100%;
}

.card.horizontal .card-image img{
    max-height: 100%;
}

.card .card-action{
    height: 80px;
    padding: 16px 16px;
}

.card-action span{
    margin-left: 1rem;
}

.card-content{
    height: 170px;
    display: table-row;
}

.card-content h5,
.card .card-content p{
    margin-left: 1rem;
}

span.badge{
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Media queries */

@media only screen and (max-width: 993px){
    .hero-row{
        height: 70vh;
    }
    .sign-in-form-outer{
        margin-top: 20vh
    }
}

@media only screen and (max-width: 601px){
    .hero-row{
        height: 50vh;
    }
    .sign-in-form-outer{
        margin-top: 10vh
    }
}