/* Flask Messages */

.message-red{
    color: red;
}

/* Throughout Site */

p{
    font-size: 18px;
}

/* Navbar */

.nav-logo{
    width: 180px;
}

/* Footer */

.logo-link{
    width: 32px;
}

.logo-list li{
    display: inline-block;
}



/* Hero Image and Index page */
.hero-row{
    height: 80vh;
    margin-bottom: 0px;
}

.cover{
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 30%;
    z-index: 2;
    position: absolute;
}

.hero-img{
    background-image: url("../assets/hero.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    z-index: 1;
}

.cover-form{
    opacity: 100%;
}

.sign-in-form-outer{
    display: inline-block;
    background-color:  white;
    max-width: 90%;
    margin: auto;
    border-radius: 25px;
    z-index: 3;
}

#sign-in-form{
    padding: 100px;
    z-index: 4;
}

#signup{
    margin-top: 3rem;
}

/* Login Home */

.home-box{
    width: 100%;
    height: 20vh;
    border: 1px solid black;
    margin: auto;
}

.home-box-center{
    margin: auto;
    max-width: 50%;
}

.card-panel i{
    font-size: 36px;
}

/* Recipe form */

.recipe-form-add{
    display: inline;
    margin-left: 1rem;
}

/* Recipe view*/

#ingredient li{
    list-style-type: disc;
}

/* Recipe card*/

.recipe{
    display: inline;
}

.recipe .card{
    height: 250px;
    background-color: #EFF6EE;
    
}

.card.horizontal .card-image{
    max-width: 25%;
    max-height: 100%;
}

.card.horizontal .card-image img{
    max-height: 100%;
}

.card .card-action{
    height: 80px;
    padding: 16px 16px;
}

.card-action span{
    margin-left: 1rem;
}

.card-stacked{
    min-height: 170px;
}

.card-stacked a{
    height: 100%;
    color: black;
}

.card-stacked a.btn{
    height: 36px;
    color: white;
}

.card-stacked a.btn-small{
    height: 40px;
    float: right;
}

.card-content{
    height: 170px;
    display: contents;
}

.card-content h5,
.card .card-content p{
    margin-left: 1rem;
}

span.badge{
    position: absolute;
    top: 0px;
    right: 0px;
}

/* Recipe search */

.display-none{
    display: none;
}

/* display overwrite */

.tooltip-hidden{
    display: none;
}

/* Media queries */

@media only screen and (max-width: 993px){
    .hero-row{
        height: 70vh;
    }
    #sign-in-form{
    padding: 50px;
    }
    p {
        font-size: 16px;
    }
    .tooltip-hidden{
        display: initial;
    }
}

@media only screen and (max-width: 601px){
    .hero-row{
        height: 70vh;
    }
    .nav-logo{
        width: 160px;
    }
    #sign-in-form{
    padding: 20px;
    }
    .card-panel h4{
        font-size: 22px;
    }
    p {
        font-size: 15px;
    }
}