{% extends "base.html" %}
{% block content %}
<div class="container">
    <h1>Add a Recipe</h1>

    <div class="row">
        <form action="{{url_for('add_recipe_form')}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <input id="recipe_name" name="recipe_name" type="text" class="validate" required>
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>
		<div class="input-field col s12">
			<select name="main_ingredient" required>
		      <option value="" disabled selected>Choose your option</option>
              {% for ingredient in ingredients %}
		      <option value="{{ingredient.ingredient}}">{{ingredient.ingredient.capitalize()}}</option>
              {% endfor %}
		    </select>
			<label>Main Ingredient</label>
		</div>
        <div class="row">
            <div class="input-field col s12">
                <input id="serves" name="serves" type="text" class="validate" required>
                <label for="serves">Number of people the recipe serves</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="time" name="time" type="text" class="validate" required>
                <label for="time">Time recipe takes to cook</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="ingredients" name="ingredients" type="text" class="validate" required>
                <label for="ingredients">Ingredients</label>
            </div>
        </div>
        <div id="break1"></div>
        <a id="addingredient" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        <div class="row">
            <div class="input-field col s12">
                <input id="method" name="method" type="text" class="validate" required>
                <label for="method">Recipe method</label>
            </div>
        </div>
        <div id="break2"></div>
        <a id="addmethod" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        <div>
            {% with messages = get_flashed_messages() %}
			{% if messages %}
			<ul class=flashes>
				{% for message in messages %}
				<li>{{ message }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			{% endwith %}
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                <i class="material-icons right">send</i>
            </button>
        </div>
        </form>
    </div>
  </div>

{% endblock %}

{% block js %}
    <script>
        $("#addingredient").click(function(){
            $("#break1").before('<div class="input-field col s12">');
            $("#break1").before('<input name="ingredients" type="text" class="validate">');
        });

        $("#addmethod").click(function(){
            $("#break2").before('<div class="input-field col s12">');
            $("#break2").before('<input name="method" type="text" class="validate">');
        });
    </script>
{% endblock %}