{% extends "base.html" %}

{% block css %}../{% endblock %}
{% block logo %}../{% endblock %}
{% block linkedin %}../{% endblock %}
{% block github %}../{% endblock %}
{% block basejs %}../{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col s12 center-align">
			<h1>The Family Cookbook</h1>
		</div>
	</div>
	<div class="row center-align">
		<p>Welcome {{current_user.username.capitalize()}} to The Family Cookbook</p>
	</div>
	<div class="row">
		<div class="col s6">
            <a class="home-link" href="{{url_for('add_recipe')}}">
				<div class="card-panel teal center-align">
                    <h4 class="white-text">Add a Recipe</h4>
					<i class="material-icons md-36 white-text">
					restaurant_menu
					</i>
				</div>
                <!--<div class="home-box valign-wrapper">
                    <p class="home-box-center">Add a recipe!</p>
                </div>-->
            </a>
		</div>
		<div class="col s6">
            <a class="home-link" href="{{url_for('search_recipes')}}">
                <div class="card-panel teal center-align">
                    <h4 class="white-text">Find a Recipe</h4>
					<i class="material-icons md-36 white-text">
					search
					</i>
				</div>
            </a>
		</div>
	</div>
	<div class="row">
		<div class="col s6">
            <a class="home-link" href="{{url_for('my_cookbook', username=current_user.username)}}">
                <div class="card-panel teal center-align">
                    <h4 class="white-text">View Your Cookbook</h4>
					<i class="material-icons md-36 white-text">
					menu_book
					</i>
				</div>
            </a>
		</div>
		<div class="col s6">
            <a class="home-link" href="{{url_for('my_uploaded', username=current_user.username)}}">
                <div class="card-panel teal center-align">
                    <h4 class="white-text">Your Uploaded Recipes</h4>
					<i class="material-icons md-36 white-text">
					favorite
					</i>
				</div>
            </a>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}

{% endblock %}