{% extends "base.html" %}

{% block css %}../{% endblock %}
{% block logo %}../{% endblock %}
{% block linkedin %}../{% endblock %}
{% block github %}../{% endblock %}
{% block basejs %}../{% endblock %}

{% block content %}
<div class="container">
	<div class="row">
		<div class="col s12 center-align">
			<h1>The Family Cookbook</h1>
		</div>
	</div>
	
	<div class="row center-align">
        <h5>Welcome {{current_user.username.capitalize()}}</h5>
        <p>The site that you can exchange cooking recipes between friends and family and even amend them to match your tastes.</p>
	</div>
	<div class="row">
		<div class="col s12 m6">
            <a class="home-link" href="{{url_for('my_cookbook', username=current_user.username)}}">
                <div class="card-panel teal center-align">
                    <h4 class="white-text">My Cookbook</h4>
					<i class="material-icons md-36 white-text">
					menu_book
					</i>
				</div>
            </a>
            <ul class="collapsible home-collapse" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info</i></div>
                    <div class="collapsible-body"><span>My Cookbook - This is your very own cookbook space where you can view, amend check out all the recipes you have found.</span></div>
                </li>
            </ul>
		</div>
		<div class="col s12 m6">
            <a class="home-link" href="{{url_for('search_recipes')}}">
                <div class="card-panel teal center-align">
                    <h4 class="white-text">Find a Recipe</h4>
					<i class="material-icons md-36 white-text">
					search
					</i>
				</div>
            </a>
            <ul class="collapsible home-collapse" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info</i></div>
                    <div class="collapsible-body"><span>Find a Recipe - This is where you can look through all the recipes that have been added to the site, find your next meal here!</span></div>
                </li>
            </ul>
		</div>
	</div>
	<div class="row">
        <div class="col s12 m6">
            <a class="home-link" href="{{url_for('add_recipe')}}">
				<div class="card-panel teal center-align">
                    <h4 class="white-text">Add a Recipe</h4>
					<i class="material-icons md-36 white-text">
					restaurant_menu
					</i>
				</div>
            </a>
            <ul class="collapsible home-collapse" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info</i></div>
                    <div class="collapsible-body"><span>Add a Recipe - Add your favourite recipes here so that others can enjoy the fruits of yout labour.</span></div>
                </li>
            </ul>
		</div>
		
		<div class="col s12 m6">
            <a class="home-link" href="{{url_for('my_uploaded', username=current_user.username)}}">
                <div class="card-panel teal center-align">
                    <h4 class="white-text">Added Recipes</h4>
					<i class="material-icons md-36 white-text">
					favorite
					</i>
				</div>
            </a>
            <ul class="collapsible home-collapse" data-collapsible="accordion">
                <li>
                    <div class="collapsible-header"><i class="material-icons">info</i></div>
                    <div class="collapsible-body"><span>Added Recipes - Here you can keep a track of how loved you recipes are by seeing how many times they have been added.</span></div>
                </li>
            </ul>
		</div>
	</div>
</div>

{% endblock %}

{% block js %}

{% endblock %}