{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
    </div>
    <div class="row">
        <div class="col s4">
            <button>
            Add a recipe
            </button>
        </div>
        <div class="col s4">
            <button>
            Search for a recipe
            </button>
        </div>
        <div class="col s4">
            <button>
            My Cookbook
            </button>
        </div>
    </div>
</div>

{% endblock %}