{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row hero-row">
        <div class="hero-img">
			<div class="sign-in-form-outer">
                <div class="sign-in-form-inner">
                    <div class="row">
                        <div class="input-field col s12">
                            <input disabled value="I am not editable" id="disabled" type="text" class="validate">
                            <label for="disabled">Disabled</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
                        <i class="material-icons right">send</i>
                    </button>
                    <p>Not got a profile? Sign up for a free acocunt <a href="{{url_for('sign_up')}}">here</a></p>
                </div>
			</div>
        </div>
    </div>
</div>

{% endblock %}