{% extends "base.html" %}

{% block content %}
<div class="container">
    {% for recipe in recipe %}
        <div class="row">
            <div class="col s12 center-align">
                <h1>{{recipe.recipe_name.title()}}</h1>
            </div>
        </div>
        <div class="row ">
            <div class="col s6 m4 offset-m2 center-align">
                <p>Serves: {{recipe.serves}}</p>
            </div>
            <div class="col s6 m4 center-align">
                <p>Time: {{recipe.time}}</p>
            </div>
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="center-align">
                <h4>Ingredients</h4>
            </div>
                <ul id="ingredient">
                    {% for ingredient in recipe.ingredients %}
                        <div class="col s6 m4 offset-m2">
                        {% if loop.index % 2 != 0 %}
                        
                            <li>{{ingredient.capitalize()}}</li>
                                            
                        {% endif %}
                        </div>  
                        <div class="col s6 m4">
                        {% if loop.index % 2 == 0 %}
                        
                            <li>{{ingredient.capitalize()}}</li>
                                            
                        {% endif %}
                        </div>  
                    {% endfor %}
                </ul>
            
        </div>
        <div class="divider"></div>
        <div class="row">
            <div class="col s12">
                <div class="center-align">
                    <h4>Method</h4>
                </div>
                
                <table>
                {% for step in recipe.method %}
                    <tr>
                        <td class="no-wrap"><strong>Step {{loop.index}} :</strong></td>
                        <td>{{step}}</td>
                    </tr>
                {% endfor %}
                </table>
            </div>
        </div>
        <div class="row center-align button-row">
            <a href="{{url_for('search_recipes')}}" class="waves-effect waves-light btn">Return to Recipes</a>
            {% if not current_user.is_authenticated %}

            {% elif not current_user.username in recipe.cookbook %}
                <a href="{{url_for('add_cookbook', recipe=recipe._id, love=recipe.love)}}" class="waves-effect waves-light btn">Add To Cookbook</a>
            {% else %}
                <a href="{{url_for('my_cookbook', username=current_user.username)}}" class="waves-effect waves-light btn">Return to Cookbook</a>
            {% endif %}
        </div>
    {% endfor %}
</div>

{% endblock %}
