{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row center-align">
        <h1>Sign Up Form</h1>
    </div>
	{% with messages = get_flashed_messages() %}
	{% if messages %}
	<ul class=flashes>
		{% for message in messages %}
		<li>{{ message }}</li>
		{% endfor %}
	</ul>
	{% endif %}
	{% endwith %}
    <div class="row">
        <form action="{{url_for('sign_up_user')}}" method="POST" class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <input id="username" name="username" type="text" class="validate" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="first_name" name="first_name" type="text" class="validate" required>
                    <label for="first_name">First Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" name="password" type="password" class="validate" required>
                    <label for="password">Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password_check" name="password_check" type="password" class="validate" required>
                    <label for="password_check">Password Check</label>
                </div>
            </div>
			<div class="row center-align">
                <button class="btn waves-effect waves-light" type="submit">Sign Up
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}